debug: false
#
# 数据库设置，选择你需要使用的数据储存方式，sqlite,mysql
# 默认: sqlite
data_storage:
  use_type: sqlite
  mysql:
    host: '192.168.0.102'
    port: 3306
    database: 'server_mail'
    username: 'root'
    password: '123456'
    params: '?autoReconnect=true&useSSL=false'
  hikari_settings:
    maximum_pool_size: 10
    minimum_idle: 10
    maximum_lifetime: 1800000
    keepalive_time: 0
    connection_timeout: 5000
Redis:
  use: false
  host: 192.168.0.102
  port: 6379
  password: pwm
  ssl: false
SmtpSet:
  start: false
  account: '****r@163.com' # 发件账号
  password: '*********' # smtp服务器授权码
  personal: 'GeekMail-高级邮件系统' # 发件人信息
  subjects: 'GeekMail-收件提醒' # 邮件标题
  host: 'smtp.163.com' # smtp服务器
  port: '25' # 端口
  # 需要拦截的邮件类型 (系统、玩家)
  filter: '系统' # 如果为空则全部同步

config:
  use_bundle: false # 物品邮件 物品预览使用 lore 展示 (只限 1.17+)
  item_filter: # 针对 物品邮件 发送的物品进行筛选
    use: true
    type: '黑名单' # 支持 黑名单 / 白名单
    contains_name:
      - '你妈妈个大傻逼'
    contains_lore: &id001 []
  Expiry:
    use: true
    # 邮件默认到期时间
    time: 2d

Market:
  use: true
  player_buy_sendPack: 市场发货模板
  player_sell_sendPack: 市场拍卖模板

# 邮件显示的独立图标
MailIcon:
  MONEY_MAIL: GOLD_INGOT
  POINTS_MAIL: EMERALD
  EXP_MAIL: EXPERIENCE_BOTTLE
  TEXT_MAIL: BOOK
  CMD_MAIL: COMPASS
  ITEM_MAIL: DIAMOND_SWORD
# 邮件种类显示名称转换
MailType:
  MONEY_MAIL:
    tag: "&e金币"
  POINTS_MAIL:
    tag: "&b点券"
  EXP_MAIL:
    tag: "&a经验"
  TEXT_MAIL:
    tag: "&f文本"
  CMD_MAIL:
    tag: "&6指令包"
  ITEM_MAIL:
    tag: "&6物品"

    
